@switch (name()) {
  @case ('home') {
    <app-icon name="home" [size]="'100%'" [class]="sizeClass()" />
  }
  @case ('movements') {
    <app-icon name="list" [size]="'100%'" [class]="sizeClass()" />
  }
  @case ('accounts') {
    <app-icon name="wallet" [size]="'100%'" [class]="sizeClass()" />
  }
  @case ('scheduled') {
    <app-icon name="timer" [size]="'100%'" [class]="sizeClass()" />
  }
  @case ('logs') {
    <app-icon name="file-text" [size]="'100%'" [class]="sizeClass()" />
  }
  @case ('settings') {
    <app-icon name="settings" [size]="'100%'" [class]="sizeClass()" />
  }
  @case ('menu') {
    <app-icon name="menu" [size]="'100%'" [class]="sizeClass()" />
  }
  @case ('close') {
    <app-icon name="x" [size]="'100%'" [class]="sizeClass()" />
  }
  @case ('plus') {
    <app-icon name="plus" [size]="'100%'" [class]="sizeClass()" />
  }
}
